# macOS
.DS_Store

# Xcode build products and local user settings
DerivedData/
build/
xcuserdata/
*.xcuserstate
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Xcode playgrounds and package manager
timeline.xctimeline
playground.xcworkspace
.build/
Packages/
Package.resolved

# Dependency managers and build tools
Pods/
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
